.banner {
  &__bg {
    background-size: auto 100%;
    background-position: right;
    background-repeat: no-repeat;
  }

  &__inner {
    height: 500px;
    padding: 0 64px;
    display: flex;
    align-items: center;
    width: 43%;
    background-image: linear-gradient(to right, $black 75%, transparent 100%);
  }

  &__content {
    h1 {
      font-size: 36px;
      margin-bottom: 24px;
    }

    p {
      width: 70%;
      line-height: 24px;
      opacity: 0.8;
      font-size: 15px;
      margin-bottom: 24px;
    }

    button {
      @include button;
    }
  }
}
